---
import MarkdownIt from "markdown-it";
const md = new MarkdownIt({ html: true });
interface Props {
    colOneFeatureHeading: string,
    colOneFeatureText: string,
    colTwoFeatureHeading: string,
    colTwoFeatureText: string
}
const props = Astro.props;
---
<section class="gb-two-col-feature">
    <div>
        <h2>{props.colOneFeatureHeading}</h2>
        <div dangerouslySetInnerHTML={{
                    __html: md.render(props.colOneFeatureText),
                }}
        />
    </div>
    <div>
        <h2>{props.colTwoFeatureHeading}</h2>
        <div dangerouslySetInnerHTML={{
            __html: md.render(props.colTwoFeatureText),
        }}
        />
    </div>
</section>