---
interface Props {
    title?: string;
    body?: string;
}
const { title, body } = Astro.props;
---
<h1 class="gb-headline1" data-cms-bind="#TitleComponent.title">{title}</h1>
<div data-cms-bind="#TitleComponent.body">{body}</div>