---
import BaseHeader from "./header.astro"
import BaseFooter from "./footer.astro"
---
<html>
    <head>
        <link rel="stylesheet" href="/static/hack.css" type="text/css">
    </head>
    <body>
        <BaseHeader/>
        <main>
            <slot/>
        </main>
        <BaseFooter/>
    </body>
</html>