---
import BaseHeader from "./header.astro"
import BaseFooter from "./footer.astro"
---
<html>
    <head>
        <link rel="stylesheet" href="/hack.css" type="text/css">
        <script is:inline src="/hack.js"></script>
        <script>
            (() => {
                if (!window.CloudCannon) {
                    document.addEventListener('cloudcannon:load', function (e) {
                        onLiveEditorLoad(e.detail.CloudCannon);
                    });
                } else {
                    onLiveEditorLoad(window.CloudCannon);
                }
            })()
        </script>
    </head>
    <body>
        <BaseHeader/>
        <main>
            <slot/>
        </main>
        <BaseFooter/>
    </body>
</html>